@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  /* COLORS */
  --colors-neutral-900: #1e1e1e;
  --colors-neutral-200: #4f4f4f;
  --colors-neutral-100: #ffffff;
  --colors-primary-400: #eb0208;

  /* FONTS */
  --fontfamily-primary: "Inter", sans-serif;

  /* FONT WEIGHT */
  --fontweight-normal: 400;
  --fontweight-bold: 700;

  /* FONT SIZES */
  --fontsize-normal: clamp(1rem, 0.6479rem + 1.1268vw, 2rem);
  --fontsize-big: clamp(1.5rem, 1.2359rem + 0.8451vw, 2rem);
  --fontsize-bigger: clamp(1.875rem, 1.4789rem + 1.2676vw, 2.5rem);
  --fontsize-huge: clamp(2rem, 0.5915rem + 4.507vw, 4rem);

  /* WHITESPACES */
  --whitespace-huge: 80px;
  --whitespace-big: 40px;
  --whitespace-medium: 20px;
  --whitespace-small: 10px;
}

/*   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   / */
/* LAYOUT */
/*   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   / */

/* BODY  */

body {
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  row-gap: var(--whitespace-big);
  font-family: var(--fontfamily-primary);
  color: var(--colors-neutral-900);
  padding-block: var(--whitespace-medium);
}

/* HEADER  */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--whitespace-medium);
}

header img {
  width: 100px;
}

header button {
  width: 40px;
  height: fit-content;
  background: none;
  border: none;
}

header button:hover {
  cursor: pointer;
}

/* HERO */
.hero > *:not(img) {
  padding-inline: var(--whitespace-medium);
  text-align: center;
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
  row-gap: var(--whitespace-huge);
}

main > section:not(.stats, .pridruzenje) {
  display: flex;
  flex-direction: column;
  row-gap: var(--whitespace-huge);
}

/* ARTICLE */

article > *:not(img) {
  padding-inline: var(--whitespace-medium);
}

/* PRIDRUZENJE  */
.pridruzenje {
  display: flex;
  flex-direction: column;
  row-gap: var(--whitespace-medium);
  padding: var(--whitespace-big) var(--whitespace-small);
}

.join {
  width: max(200px, 50%);
  margin: auto;
  font-size: var(--fontsize-big);
  font-weight: var(--fontweight-bold);
  color: var(--colors-neutral-100);
  background-color: var(--colors-primary-400);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  padding: var(--whitespace-small);
  text-align: center;
}

.join:hover {
  cursor: pointer;
  outline: 3px solid var(--colors-primary-400);
}

/* FOOTER  */
footer {
  padding-block: var(--whitespace-medium);
}
footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--whitespace-medium);
  list-style: none;
}

footer img {
  width: 24px;
  display: inline;
}
footer a {
  text-transform: uppercase;
}
footer a:hover {
  text-decoration: underline;
}

/*   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   / */
/* TYPOGRAPHY */
/*   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   / */

h1 {
  font-size: var(--fontsize-huge);
  text-align: center;
  padding-block: var(--whitespace-small);
}

h2 {
  font-size: var(--fontsize-bigger);
  text-align: center;
  padding-block: var(--whitespace-small);
}

h3 {
  font-size: var(--fontsize-big);
  padding-block: var(--whitespace-small);
}

h1 > span,
h2 > span,
h3 > span {
  color: var(--colors-primary-400);
}

p,
.ukratko span {
  font-size: var(--fontsize-normal);
}

a {
  color: var(--colors-neutral-900);
  text-decoration: none;
}

/*   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   / */
/* INDEX */
/*   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   / */

/* SECTION - UKRATKO */
.ukratko {
  padding-inline: var(--whitespace-medium);
}
.ukratko ul {
  display: flex;
  flex-direction: column;
  row-gap: var(--whitespace-big);
}
.ukratko li {
  display: flex;
  align-items: center;
  column-gap: var(--whitespace-small);
}

.ukratko li:nth-child(2n + 2) {
  flex-direction: row-reverse;
  text-align: right;
}

.ukratko img {
  width: max(150px, 50%);
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 20px;
}

/* SECTION - STATS */
.stats {
  background-color: var(--colors-neutral-900);
  color: var(--colors-neutral-100);
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--whitespace-medium);
  padding: var(--whitespace-medium);
}

.stats > span {
  flex-basis: 50%;
  text-align: center;
}

.stats > span > span {
  font-size: var(--fontsize-bigger);
  font-weight: var(--fontweight-bold);
  display: block;
}

/*   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   / */
/* O NAMA */
/*   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   / */

/* HERO  */
ul.oNama {
  list-style-type: none;
}

ul.oNama li {
  display: flex;
  justify-content: center;
  column-gap: var(--whitespace-small);
  font-size: var(--fontsize-normal);
}
ul.oNama img {
  width: 16px;
}

/* OSVRTI */

figure {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  row-gap: var(--whitespace-medium);
  background-color: var(--colors-neutral-900);
  color: var(--colors-neutral-100);
  padding: var(--whitespace-medium);
}

figure img {
  max-width: 100px;
  border-radius: 100%;
  margin: var(--whitespace-small);
  flex-basis: calc(50% - var(--whitespace-medium));
}

figcaption {
  flex-basis: calc(50% - var(--whitespace-medium));
  text-align: right;
}

blockquote {
  font-style: italic;
  text-align: center;
}

/*   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   / */
/* PROJEKTI I AKTIVNOSTI */
/*   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   / */
.projekti button,
.aktivnosti button,
.novosti button {
  width: fit-content;
  align-self: flex-end;
  margin-right: var(--whitespace-medium);
  padding: var(--whitespace-small);
  border: none;
  border-radius: 5px;
}

.projekti button:hover,
.aktivnosti button:hover,
.novosti button:hover {
  cursor: pointer;
}

/*   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   / */
/* NOVOSTI */
/*   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   / */
.novosti article {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.novosti article > h2 {
  flex-basis: 100%;
}


.novosti article > img {
  max-width: 600px;
  aspect-ratio: 2/1;
  object-fit: cover;
}

.novosti article > span {
  font-size: var(--fontsize-normal);
  font-weight: var(--fontweight-bold);
}


/*   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   / */
/* KONTAKT i UČLANJENJE*/
/*   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   /   / */
form {
  display: flex;
  flex-direction: column;
  color: var(--colors-neutral-100);
  background-color: var(--colors-neutral-900);
  padding: var(--whitespace-big);
}

form > input {
  padding: var(--whitespace-small);
  margin-bottom: var(--whitespace-medium);
}

textarea {
  min-height: 100px;
  margin-bottom: var(--whitespace-medium);
}

form > button {
  background-color: var(--colors-primary-400);
  border: none;
  border-radius: 5px;
  padding: var(--whitespace-small);
  color: var(--colors-neutral-100);
  text-transform: uppercase;
  font-weight: var(--fontweight-bold);
  margin-block: var(--whitespace-medium);
}

form > button:hover {
  cursor: pointer;
  color: var(--colors-neutral-900);
}

/* SIDEBAR  */

.hide {
  display: none;
}

header nav ul {
  list-style: none;
  text-transform: uppercase;
  display: flex;
}
header ul li:hover {
  text-decoration: underline;
}
@media screen and (max-width: 599px) {
  header nav {
    position: absolute;
    background-color: white;
    min-height: 80vh;
    top: 0;
    left: 0;
    width: 80%;
    display: flex;
    justify-content: center;
    padding-block: var(--whitespace-big);
  }
  header nav ul {
    flex-direction: column;
    gap: var(--whitespace-big);
    text-align: center;
  }
}
@media screen and (min-width: 600px) {
  header nav ul {
    flex-direction: row;
    gap: 2rem;
    width: 100%;
  }
}

/* KONTAKT MESSAGES */

.success,
.error {
  font-weight: var(--fontweight-bold);
  text-align: center;
  padding: 1rem;
}

.success {
  border: 3px solid green;
}

.error {
  border: 3px solid red;
}
